@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import 'tailwindcss';

@theme {
  --color-accent: #17b486;
  --color-orange: #f59e0b;
  --color-red: #d81e5b;
  --color-blue: #47baf6;
  --color-secondary: #e2e8f0;
}

@layer base {
  * {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
  }
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  .scrollbar-p::-webkit-scrollbar-track {
    @apply bg-slate-800/50;
    border-radius: 10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    background-clip: padding-box;
  }

  .scrollbar-p::-webkit-scrollbar-thumb {
    @apply bg-white/50;
    border-radius: 10px;
    transition: background 0.3s ease;
  }

  body {
    background: transparent;
    overflow: hidden;
  }
  nav {
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    z-index: 100;
  }
  .button-no-drag {
    -webkit-app-region: no-drag;
  }
  h6 {
    font-weight: 500;
    font-size: 21.33px;
    line-height: 37.9px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 21.33px;
  }
  small {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
  }
  .letter {
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
  }
  .write-vertical {
    writing-mode: vertical-lr;
  }

  .glass-card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(
      2,
      6,
      24,
      0.8
    ); /* This is good for semi-transparency */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}
